# **Python Basics**
Let's start by learning how to work with Python **variables**, **data types**, and **basic operations**.

## **Variables and Data Types**
- In Python, a **variable** is a container for storing data values.
- Python supports several **data types**, including:
  - **Integers**
  - **Floats**
  - **Strings**
  - **Lists**

In [1]:
name = "John"
age = 30
salary = 50000.1

In [2]:
print("Name:", name)

Name: John

In [3]:
print("Age:" , age)

Age: 30

## **Basic Operations**
- Python allows you to perform **arithmetic operations** on numbers and **concatenate strings**.

In [4]:
sum_numbers = 10 + 5

In [5]:
diff_numbers = 20 - 10

In [6]:
4 * 5

20

In [7]:
20 / 4

5.0

In [8]:
name

'John'

In [11]:
# String Concantentation
greeting = "Hello, " + name + "!"

In [12]:
print(greeting)

Hello, John!

## **Conditional Statements**
- **Conditional statements** (if-else) let you execute different blocks of code based on a condition.

In [13]:
age

30

In [17]:
age = 19

In [18]:
if age > 18:
  print(name, "is an adult.")
else:
  print(name, "is not an adult.")

John is an adult.

## **Loops**
- **Loops** are used to repeat a block of code multiple times.

In [19]:
fruits =["apple", "banana", "cherry"]

In [20]:
type(fruits)

list

In [21]:
for fruit in fruits:
  print(fruit)

apple
banana
cherry

### **Working with Data**
Python provides powerful tools to work with data. Let's start by exploring **lists** and **dictionaries**.

### **Lists**
- **Lists** are used to store multiple items in a single variable.

In [22]:
sales_figures = [1000, 2000, 1500, 3000, 2500]

In [23]:
total_sales = sum(sales_figures)

In [24]:
print(total_sales)

10000

In [32]:
sales_figures.append(1800)

In [33]:
sales_figures

[1000, 2000, 1500, 3000, 2500, 1800, 1800, 1800]

In [34]:
print(total_sales)

10000

### **Dictionaries**
- **Dictionaries** store data in **key-value pairs**, making it easy to organize related information.

In [35]:
#Dictionary of Store product prices.
product_prices = {
    "Laptop" : 1200,
    "Smartphone": 800,
    "Tablet" : 400
}

In [36]:
product_prices

{'Laptop': 1200, 'Smartphone': 800, 'Tablet': 400}

In [37]:
product_prices["Laptop"]

1200

# **Data Understanding & Management for Business Intelligence**

### **Importance of Data:**
Data is the foundation of Business Intelligence (BI), analytics, and data science. It's like the raw material needed to build insights and knowledge. Just as a chef needs ingredients to create a dish, BI requires data to generate insights.

- **Decision-Making:** Data enables informed decisions, like analyzing sales data to identify best-selling products and focus marketing efforts.

- **Trend Analysis:** Historical data analysis can reveal trends, helping predict future demands, as seen in seasonal sales patterns.

- **Customer Insights:** Collecting customer feedback and behavior data helps tailor products and services, enhancing customer satisfaction and loyalty.

- **Operational Efficiency:** Data analysis can streamline operations, such as optimizing supply chain logistics based on real-time inventory data.

- **Risk Management:** Analyzing financial and operational data helps identify and mitigate risks, like fraud detection through unusual transaction patterns.

### **Characteristics of Data:**

- **Size:** Data's scale impacts storage and processing. Small datasets might fit in a single spreadsheet, whereas Big Data, like internet traffic logs, requires robust databases and computing power.

- **Structure:** Structured data, such as a customer database, follows a clear format. Unstructured data, like customer reviews, lacks a predefined format and needs more complex processing.

- **Flow:** Data can be continuous, like sensor outputs in a smart factory, or batched, such as monthly sales reports, affecting how and when data is analyzed.

### **Making Data Analytics-Ready:**

- **Relevance and Quality:** Data must be relevant to the specific problem and of high quality.

- **Structure:** It should be organized in a way that's ready for analysis, with key fields and normalized values.

- **Common Definitions:** Terms and variables should have agreed-upon definitions across the organization (Master Data Management).
    - Date formats varying between MM/DD/YYYY and DD/MM/YYYY.
    - Using both abbreviations and full names for states, like "CA" and "California."

### **Analytics Readiness Metrics:**

- **Reliability:** Ensuring data comes from credible sources and is stored securely, like using authenticated APIs for data collection.

- **Accuracy:** Verifying data matches real-world values, such as ensuring sales figures align with transaction records.

- **Accessibility:** Making data easily available to authorized users through user-friendly platforms or databases.

- **Security and Privacy:** Implementing measures like encryption and access controls to protect data from breaches.

- **Richness:** Gathering comprehensive data sets that cover all aspects needed for analysis, like customer demographics, behaviors, and transaction histories.

- **Consistency:** Standardizing data collection and integration methods to ensure uniformity across all data sources.

### **Understanding Data Taxonomy for Analytics**

**Structured Data:** This includes data organized in a fixed format, making it easily searchable, such as in databases. It is further divided into:

- **Categorical Data:** Data that represents categories or groups. It includes:
  - **Nominal Data:** Data without a natural order, like colors or marital status.
    - *Nominal Data Example:* Consider a Python list holding colors: **`colors = ["Red", "Blue", "Green"]`**. This list represents nominal data as there's no inherent order among these colors.
  - **Ordinal Data:** Data with a natural order but no fixed spacing, like education levels or customer satisfaction ratings.
    - *Ordinal Data Example:* An education level list: **`education_levels = ["High School", "Bachelor's", "Master's", "Ph.D."]`** shows ordinal data. The list has a natural order from least to most advanced education level, but the spacing between each level isn't defined.

- **Numeric Data:** Data represented by numbers. It includes:
  - **Interval Data:** Numerical data without a true zero point, such as temperature.
    - *Interval Data Example:* Temperature readings in Celsius: **`temperatures = [20, 22, 25, 28]`**. These temperatures are interval data as they are numerical with equal spacing but lack a true zero point (where 0 does not mean 'no temperature').
  - **Ratio Data:** Numerical data with a true zero point, allowing for comparisons of magnitudes, like height or weight.
    - *Ratio Data Example:* Weights of objects in kilograms: **`weights = [0, 0.5, 1, 1.5]`**. This list is an example of ratio data because it includes numerical values with a true zero point, indicating the absence of weight.

**Unstructured Data:** Data that does not have a predefined data model, making it harder to collect, process, and analyze. Examples include text documents, images, and videos.

**Semistructured Data:** A blend of structured and unstructured data, which can include elements of both, like XML or JSON files used in web data.

#### Summary of the **Mathematical Operations** applicable to each level of data taxonomy:

| Data Type | Countable | Comparable | Addable | Subtractable | Multiplicable | Dividable |
|-----------|-----------|------------|---------|--------------|---------------|-----------|
| Nominal   | Yes       | No         | No      | No           | No            | No        |
| Ordinal   | Yes       | Yes        | No      | No           | No            | No        |
| Interval  | Yes       | Yes        | Yes     | Yes          | No            | No        |
| Ratio     | Yes       | Yes        | Yes     | Yes          | Yes           | Yes       |

>> For example, 20°C is not "twice as warm" as 10°C because the zero point in the Celsius scale is arbitrary, not representing an absence of temperature.

# Introduction to Pandas for Business Intelligence

- Pandas is a cornerstone tool for anyone studying Business Intelligence (BI), providing powerful and easy-to-use data structures and data analysis tools for Python. Its name, derived from "panel data" and "Python data analysis," hints at its capabilities and intended use. Here's a brief introduction to get you started:

## Why Pandas?

- In the realm of Business Intelligence, data is king. You're often tasked with collecting, cleaning, analyzing, and reporting data to inform strategic decisions. Pandas excel in handling and transforming data, making it an indispensable tool for BI students. It allows you to read data from various sources, manipulate it efficiently, and prepare insightful visualizations.

## Key Features:

### Data Structures:
- Pandas introduce two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like structure, while a DataFrame is a two-dimensional, table-like structure with rows and columns. These structures are designed to handle data in a way that is intuitive and aligned with spreadsheet-like operations, which are familiar to most BI professionals.

### Data Manipulation:
- With Pandas, you can easily filter, sort, group, and aggregate your data. Whether you're dealing with time-series data, categorical data, or missing values, Pandas provides a rich set of methods to perform data munging tasks efficiently.

### Integration with Data Sources:
- Pandas can seamlessly read and write data from and to various sources like CSV files, Excel spreadsheets, databases, and even cloud storage services. This versatility makes it a great tool for BI tasks, where data might come from disparate sources.

### Data Analysis:
- Beyond data manipulation, Pandas also supports more complex data analysis tasks. It integrates well with other libraries like NumPy for numerical operations, Matplotlib and Seaborn for data visualization, and Scikit-learn for machine learning, making it a central part of the Python data science ecosystem.

**Loading the Dataset**

   First, you need to have the dataset in a format that Pandas can read, such as a CSV file. Assuming the data you provided is saved in a file named `university_data.csv`, you can load it into a Pandas DataFrame.

In [38]:
import pandas as pd

In [39]:
df = pd.read_csv("/university_data-1.csv")

In [40]:
# Display the data,  5 first rows # variables/features each row observation/cell is a value of measurement
df.head(10)

,Private,Outstate,PhD,Apps,Accept,Enroll,Top10perc,Grad.Rate,Region,Temperature,Reputation
0,Yes,21341,70,1457,959,206.0,58,83.689409,West,28,Good
1,No,22180,76,4330,3787,1404.0,49,87.403395,North,6,Moderate
2,No,22258,64,2590,2092,659.0,29,78.054363,North,11,Poor
3,No,24457,71,4119,3580,1529.0,27,86.422863,North,4,Moderate
4,Yes,32254,98,2087,1600,467.0,54,97.753025,East,14,Moderate
5,Yes,39092,79,1838,1331,503.0,55,90.062261,North,3,Good
6,Yes,31344,97,2283,1795,649.0,63,97.721357,East,14,Good
7,No,20736,73,2574,2084,420.0,29,84.737357,East,14,Moderate
8,No,14875,71,2891,2410,534.0,39,86.892463,South,30,Good
9,No,11256,70,4059,3551,1020.0,42,88.905499,East,24,Moderate

**Understanding the Data**

Once the data is loaded, you can perform various operations to understand its structure, content, and characteristics.

**Data Overview:** Use `df.info()` to get a concise summary of the DataFrame, including the number of non-null entries, data types, and memory usage.

In [41]:
# to see if there is any missing data use df.info() first step, evaluate your data set.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Private      1000 non-null   object
 1   Outstate     1000 non-null   int64
 2   PhD          1000 non-null   int64
 3   Apps         1000 non-null   int64
 4   Accept       1000 non-null   int64
 5   Enroll       1000 non-null   float64
 6   Top10perc    1000 non-null   int64
 7   Grad.Rate    1000 non-null   float64
 8   Region       1000 non-null   object
 9   Temperature  1000 non-null   int64
 10  Reputation   1000 non-null   object
dtypes: float64(2), int64(6), object(3)
memory usage: 86.1+ KB

**Descriptive Statistics:**

Use `df.describe()` to view summary statistics that help describe each numeric column's central tendency, dispersion, and shape of the dataset's distribution.

In [42]:
# use to summarize data
df.describe()

,Outstate,PhD,Apps,Accept,Enroll,Top10perc,Grad.Rate,Temperature
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,23772.946000,75.067000,2687.221000,2187.186000,774.628000,51.859000,87.294761,18.579000
std,8072.784115,12.989351,1003.399146,1003.356255,412.085275,17.785484,8.391001,8.561487
min,10007.000000,50.000000,1005.000000,486.000000,119.000000,20.000000,62.591212,0.000000
25%,17834.500000,66.000000,1970.750000,1460.750000,464.250000,40.000000,81.216268,12.000000
50%,23113.000000,75.000000,2514.500000,2023.000000,717.000000,51.000000,87.320361,20.000000
75%,29882.500000,85.000000,3367.750000,2860.250000,993.500000,64.000000,93.284037,25.000000
max,39994.000000,99.000000,4999.000000,4538.000000,2187.000000,89.000000,113.043843,34.000000

**Check for Missing Values:**

It's important to identify if the dataset contains any missing values.

In [44]:
df.isnull().sum()

Private        0
Outstate       0
PhD            0
Apps           0
Accept         0
Enroll         0
Top10perc      0
Grad.Rate      0
Region         0
Temperature    0
Reputation     0
dtype: int64

**Unique Values in Categorical Columns:**

For columns like 'Private', 'Region', and 'Reputation', checking unique values can be insightful.

In [45]:
df['Private'].unique()

array(['Yes', 'No'], dtype=object)

In [47]:
df['Private'].value_counts()

Private
Yes    503
No     497
Name: count, dtype: int64

In [49]:
df['Region'].unique()

array(['West', 'North', 'East', 'South'], dtype=object)

In [50]:
df['Region'].value_counts()

Region
South    270
East     255
West     240
North    235
Name: count, dtype: int64

In [51]:
# Ordinal Data
df['Reputation'].unique()

array(['Good', 'Moderate', 'Poor'], dtype=object)

In [57]:
# Interval Data because 0 is not a true 0
df['Temperature'].mean()

18.579

In [52]:
df['Reputation'].value_counts()

Reputation
Moderate    494
Good        410
Poor         96
Name: count, dtype: int64

Using the 'Private' column in the dataset, perform the following tasks:


- Count how many universities are private versus public.

In [48]:
df['Region'].value_counts()

Region
South    270
East     255
West     240
North    235
Name: count, dtype: int64

In [53]:
# count of how many universities are private & public
df['Private'].value_counts()

Private
Yes    503
No     497
Name: count, dtype: int64